@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    src: url(./src/assets/fonts/inter/inter.ttf) format("ttf");
  }

  html {
    font-family: "inter", system-ui, sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.swiper-pagination {
  bottom: 100px !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin-left: 6px !important;
  border-radius: 1px !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}
